.main {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.header {
    flex: 0 0 48px;
    line-height: 48px;
    border-bottom: 1px solid #e8e8e8;
}

.log {
    text-align: center;
}

.menu {
    flex: auto;
}

.aside {
    flex: 0 0 280px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e8e8e8;
}

.window {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 1100px;
    overflow: scroll;
}