{
  "presets": ["env", "react"],
  "plugins": [
    "transform-runtime",
    [
      "import",
      { "libraryName": "antd",  "style": "css" }
    ],
    "babel-plugin-transform-class-properties",
    "syntax-dynamic-import",
    "react-loadable/babel"
  ]
}
